.room .roomMessages{
  overflow-x: hidden;
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 150px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
