<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="position: absolute;top: 30%;transform: translateY(-50%)">

      <div class="imageLogo">

      </div>

      <widget-input
        urlIconInput="../../assets/icons/link.svg"
        placeholder="Cole seu link"
        hiddenButton="false"
        urlIconButton="../../assets/icons/clipboard.svg"
        (keyDownEventEmitter)="keyDownPress = true"
        type="text"></widget-input>

      <widget-input
        urlIconInput="../../assets/icons/link.svg"
        placeholder="Nome desejado"
        hiddenButton="true"
        [hidden]="!keyDownPress"
        type="text"></widget-input>

      <widget-calendar [hiddenButton]="!keyDownPress" >
      </widget-calendar>

      <widget-buttonshorten
      placeholder="Pronto"
      [hiddenButton]="!keyDownPress"
      ></widget-buttonshorten>
    </div>
  </div>
</div>
