nav, ul{ padding:0px; }
.menu{
    background-color: #26292e;
    min-height: 45px;
    display: flex;
    flex-direction: row;  
}

 /* ## BRAND ## */
.brand p{
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: block;
    position: relative;
    top: calc(50% - 14px);
}


 /* ## RIGHT MENU ## */
nav{
    height: 45px;
}
ul{
    position: relative;
    top: 10px;
}
ul>li{
    display: inline-block;
    width: 100px;
    margin-top: 15px;
}
ul>li a{
    text-decoration: none;
    color: #ddd;
    font-size: 14px;
}
