<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" style="display: flex; flex-direction: row">
    <div #inputWidget  class="inputWidget" (keydown)="onKeyDown($event)" >
      <div class="image">
        <img [src]="urlIconInput" style="width: 23px; margin: 10px 0px 0px 5px">
      </div>
      <input [placeholder]="placeholder" [type]="type">
    </div>

    <div [hidden]="hiddenButton==='true'"  class="extra-button">
      <div class="image">
        <img [src]="urlIconButton">
      </div>
    </div>

  </div>
  <div class="col-sm-4"></div>
</div>

