.mmodal{
  position: fixed;
  background-color: #26292e;
  border-radius: 2px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
}

.closeModal{
  font-family: "Bahnschrift", sans-serif;
  text-align: center;
}
.closeModal:hover{
  cursor: pointer;
}
.closeModal>img{
  width: 15px;
}
.closeModal:hover span{
  color:mediumpurple;
  cursor: pointer;
}

/* TITLE */
.title{
  padding-left: 25px!important;
  color: #bbbbbb;
}
/* TITLE > icon */
.titleIcon{
  text-align: center;

}
