/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
body, *{
  padding: 0px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #09081D;
  overflow: hidden;
}

input{
  outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #707070;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #707070;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #707070;
}

/*    LOGO    */
.imageLogo{
  background-image: url('assets/images/planet.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 80px;
  margin-bottom: 80px;
  opacity: .4;
}
