.message {
}

/* ## IMAGE USER ## */

.imageUser {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 30px !important;
}

.imageUser img {
  width: 30px;
  height: 25px;
  padding: 0px;
  position: relative;
  top: calc(50% - 16px);
  left: calc(50% - 15px);
}

/* ## TEXT MESSAGE ## */

.messageText {
  display: inline-block;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  padding: 10px !important;
  position: relative;
  left: 100px;
  bottom: 50px;
  min-width: auto;
}

.author {
  display: block;
  clear: both;
  position: relative;
  bottom: 50px;
  left: 100px;
}

.author p {
  display: inline-block;
  font-size: 11px;
  columns: #bbb;
}

.author .hour {
  min-width: 55px;
}


.messageText {
  animation: showing .2s linear;
}

.messagePurple {
  background-color: slateblue;

}

.messageGray {
  background-color: #666666;

}

@keyframes showing {
  from {
    transform: perspective(100px) translateZ(-100px);

  }
  to {
    transform: translateZ(0px);
  }

}
